@charset "utf-8";
/* CSS Document */

.sclogin { margin-top: 10px; /*float:right;*/ text-align:center !important;}

#rt-header .rt-block { padding-bottom:0; margin-bottom:0;}

#rt-header .rt-omega .rt-block p { margin-bottom:10px;}

.gf-menu .item { padding-left:15px; padding-right:15px;}

.gf-menu.l1 > li > .item { text-transform:none;}

.gf-menu-toggle .icon-bar { background:#006dcc;}


.blocknumber {
	clear: both;
	padding: 5px 15px 10px;
	position: relative;
}

/* Bignumber */
.bignumber  {
	background: url(bignumber.gif) no-repeat top left;
	color: #fff;
	display: block;
	float: left;
	font: bold 23px/normal Arial, sans-serif;
	margin-right: 8px;
	padding: 7px 8px 8px 9px;
}

@media (max-width: 767px) {
    #rt-top-surround  { text-align: center;} 
    #rt-top-surround img { max-width: 180px;}
	.btl { display:none;}
	.logintop { display:none;}
	.customlogintop { display:none;}
}